::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}

h3 {
	color: #8a8683;
}

input {

	text-align: center;

}

input#movie_searched {

	width: 600px;
	height: 55px;
	/*background-color: #f68f67;*/
	background-color: #8a8683;
	color: #ffffff;
	border-color: transparent;

}

input placeholder {
	color: white;
}

#submit_search, #reset_search {

	margin-left: 40px;

}

#display_results {

	text-align: center;

}

.box-effect
{
  	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;

	/*background-color: #E9F2F3;*/
	background-color: #F0F7F9;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

li {

	list-style-type: none;

}

#list_choice_movie:hover {

	background-color: #f68f67;
	
}